@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-background text-dark-text font-sans;
    background-image: linear-gradient(
      160deg,
      theme("colors.dark.background") 0%,
      #0c182f 100%
    );
  }
}
